<%=  render :partial => 'layouts/navbarInner' %>


<section class="product-container">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-product">
   <%= cl_image_tag(@product.attachment.key, :type => :upload, class: "active" )  %>
  </div>
 
  <div class="right-column">
 
    <div class="product-description">
      <span><h3><%= @product.name %></h3></span>
      <h1><%= @product.brand %></h1>
      <p>Hot Fashion Men′s Jeans Pants Printed Design Casual, Biker Badges Brushed Denim Pants Jeans</p>
    </div>
 
    <div class="product-configuration">
 
     <div class="product-color">
        <span>Color</span>
 
        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
 
 
      </div>
 
     <div class="product-price">
      <span><%= number_to_currency(@product.cost)%></span>
      <% if @current_user.present? %>
        <div class="buttons-wrapper">
         <%= link_to "Add to Cart", product_line_items_path(product_id: @product.id), :method=>"post", :class=>"product-btn-add" %>
      

          <% if @current_user.already_likes?(@product) %>
            <%= link_to "Remove from Wishlist", product_favourite_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"delete", :class=>"product-btn-add "%>
          <% else %>

            <%= link_to "Add to Wishlist", product_favourites_path(:product_id=>@product.id, :user_id=>@current_user.id),
                                  :method=>"post", :class=>"product-btn-add " %>

          <% end %>
        </div>
        <% end %>
    </div>
  </div>

     <div class="cable-config">
   <h4><strong>Reviews</strong></h4>
     <% if @current_user.present? %>
      <%= form_for([@product, @product.reviews.build]) do |f| %>
        <%= hidden_field_tag :user_id, @current_user.id %>
        <div class="form-review">
          <% if flash[:review_error].present? %>
            <p class="bg-danger"><%= flash[:review_error] %></p>
          <% end %>
          <%= f.text_area :desc, :class=>"form-control review-text"  %>
          <%= f.submit 'Add Review', :class=>"review-btn" %>
        </div>
      <% end %>
    <% end %>
    <div class="review-text">
    <% @product.reviews.each do |review| %>
      <p><i class="fa fa-comment-o" aria-hidden="true"></i>
        <%= @user.name%>: <%= review.desc %>
      </p>
    <% end %>
    </div>
    </div>

    </div>
</section>

<script>
$(document).ready(function() {
 
  $('.color-choose input').on('click', function() {
      var productColor = $(this).attr('data-image');
 
      $('.active').removeClass('active');
      $('.left-product img[data-image = ' + productColor + ']').addClass('active');
      $(this).addClass('active');
  });
 
});
</script>


